body {
  background-color: rgb(11, 159, 178);
  color: #000;
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

code {
  font-style: italic;
}
div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

p {
  font-size: 2rem;
}
